body {
    margin: auto;
    padding-top: 56px;
    background-color: rgb(231, 149, 149)!important;
}

/*------Home Page Cards------*/

.carousel-item img {
    max-height: 500px;
}

.card {
    background-color: maroon!important;
    color: white;
}